
tensorflow-macos==2.16.2; sys_platform == 'darwin' and 'ARM' in platform_version # Mac M-chips
tensorflow==2.16.2; sys_platform == 'darwin' and 'ARM' not in platform_version # Mac Intel chips
tensorflow==2.16.2; sys_platform != 'darwin' # Windows & Ubuntu Intel chips
tensorflow-io-gcs-filesystem==0.37.1
pandas
pillow
uvicorn
fastapi
google-cloud-storage==3.1.1
python-multipart
.env
